{{!-- Esta es la barra de navegación y es integrada en el main, por medio de la 
nomenclatura de indexación--}}
<header class="">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
      <a href="/">
      <div class="logoTipo">
      <img src="/img/ProjectsBank_White.png" alt="Logo Prjects Bank" name="logo" class="card-img-top mx-auto m-2" width="80" height="100">
      </a>
    </div>
    <a class="navbar-brand text-danger" href="/">Proyectos</a>
    <div class="collapse navbar-collapse d-flex" id="navbarNav">
      <ul class="navbar-nav ml-auto d-flex">
        {{#if (eq user.typeUser "EXPONENT")}}
        <li class="nav-item dropdown text-danger">
        <a class="nav-link dropdown-toggle text-danger" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proyectos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-danger" href="/projects">Todos los proyectos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="/projects/add">Agregar proyectos</a>
        </div>
      </li>
          <a href="/listExit" class="nav-link text-danger">Casos Exitosos</a>
          <a href="/profile" class="nav-link text-danger">Perfil</a>
          <a href="/logout" class="nav-link text-danger">Cerrar Sesión</a>
          <a href="/profile">
          <div class="logoTipo">
          <img src="/img/Session.png" alt="Ícono de sesión" name="logo" class="card-img-top mx-auto m-2" width="20" height="40">
          </a>
        {{else if (eq user.typeUser "ADMIN")}}
          <a href="/listExit" class="nav-link text-danger">Casos Exitosos</a>
          <li class="nav-item dropdown text-danger">
        <a class="nav-link dropdown-toggle text-danger" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Funciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-danger" href="/signupAdmin">Registrar Usuarios</a>
          <a class="dropdown-item text-danger" href="/listUser">Actualizar Usuarios</a>
          <a class="dropdown-item text-danger" href="/projects/listDelete">Eliminar Proyectos</a>
          <a class="dropdown-item text-danger" href="/settings">Historial de Cambios</a>
        </div>
      </li>
          <a href="/profile" class="nav-link text-danger">Perfil</a>
          <a href="/logout" class="nav-link text-danger">Cerrar Sesión</a>
          <a href="/profile">
          <div class="logoTipo">
          <img src="/img/Session.png" alt="Ícono de sesión" name="logo" class="card-img-top mx-auto m-2" width="20" height="40">
          </a>
        {{else if (eq user.typeUser "EXPERT")}}
          <a href="/listExit" class="nav-link text-danger">Casos Exitosos</a>
          <a href="/projects/coment" class="nav-link text-danger">Comentar Proyectos</a>
          <a href="/profile" class="nav-link text-danger">Perfil</a>
          <a href="/logout" class="nav-link text-danger">Cerrar Sesión</a>
          <a href="/profile">
          <div class="logoTipo">
          <img src="/img/Session.png" alt="Ícono de sesión" name="logo" class="card-img-top mx-auto m-2" width="20" height="40">
          </a>
          {{else if (eq user.typeUser "REVOKED")}}
          <a href="/listExit" class="nav-link text-danger">Casos Exitosos</a>
          <a href="/profile" class="nav-link text-danger">Perfil</a>
          <a href="/logout" class="nav-link text-danger">Cerrar Sesión</a>
          <a href="/profile">
          <div class="logoTipo">
          <img src="/img/Session.png" alt="Ícono de sesión" name="logo" class="card-img-top mx-auto m-2" width="20" height="40">
          </a>
        {{else}}
          <a href="/listExit" class="nav-link text-danger">Casos Exitosos</a>
          <a href="/signin" class="nav-link text-danger">Iniciar Sesión</a>
          <a href="/signup" class="nav-link text-danger">Registrar</a>
        {{/if}}
      </ul>
    </div>
  </div>
  </div>
</nav>
</header>


